.movie__list {
  padding: 0.2rem;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .movie__list {
    padding: 0;
  }
  .list__cards {
    justify-content: center;
  }
}
